*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
    background-color: #000;
    color: #f8f8f8;
    font-family: 'Montserrat';
}
nav{
    margin: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: #f8f8f8;
}
nav img{
    width: 10%;
}
nav>ul{
    display: flex;
    gap: 80px;
}
nav>ul>li{
    list-style: none;
    
}
nav>div{
    display: flex;
    gap: 40px;
}
nav>div>button{
    border-style:none;
    font-size: large;
    background: none;
    background-image:url(./Assets/Icons/btn-pink-bg.svg);
    background-repeat: no-repeat;
    color: #f8f8f8;
}

/* hero section */
#hero-section{
    display: flex;
    width: 100%;
}
.hero-section{
    display: flex;
    width: 90%;
    margin:auto;
    position: relative;
    justify-content: space-between;
}
.hero-section>.left-section{
    width: 40%;
}
.hero-section>.left-section>h1{
    width: 160%;
    font-size: 64px;
    margin-top: 90px;
}
span{
    color: rgb(192, 35, 174);
}
.left-section>p{
    margin-top: 40px;
    color: rgb(208, 202, 202);
}
.left-section>button{
    border-style:none;
    font-size: 24px;
    background: none;
    background-image:url(./Assets/Icons/btn-pink-bg.svg);
    background-repeat: no-repeat;
    color: #f8f8f8;
    margin: 70px 0px;
}
.left-section>ul{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-top: 20px;
}
.left-section>ul>li{
    list-style: none;
    font-size:18px;
    font-weight:500;
}
.left-section>ul>li:first-child{
    font-size:40px;
    font-weight: 500;
}
.left-section>ul>li:nth-child(4)
{
    font-size:40px;
    font-weight: 500;
}
.left-section>ul>hr{
    height: 40px;
}
.hero-section>.right-section{
    width: 60%;
}
.right-section>img{
    width: 50vw;
}