*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-section-one{
    background:url(./Assets/Photos/futuristic-bg.png);
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
}
nav{
    width: 90%;
    margin:auto;
    padding:30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav>div:first-child{
    width: 55%;
    display: flex;
    align-items: center;
    /* gap: 80px; */
    justify-content: space-between;
}
nav>div>ul{
    display: flex;
    align-items: center;
    gap:60px ;
}
nav>div>ul>li{
    list-style: none;
}
nav>div>ul>li:hover{
    /* font-weight: bold; */
    text-decoration: underline;
}
/* nav button */
nav>div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
/* btn */
.btn{
    padding: 15px 30px;
    font-weight: bold;
    color: #fff;
}
.primary-btn{
    background-color: #FF6E31;
    border: none;
}
.secondary-btn{
    background-color:inherit;

}
.primary-btn:hover{
    background-color:inherit;
}
/* hero section one heading*/
.hero-heading{
    width: 90%;
    height: 80%;
    margin:auto;
    display: flex;
    align-items: center;
}
/* hero left part */
.hero-left{
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hero-left>h1{
    width: 80%;
    font-size: 56px;
}
.hero-left>p{
    width: 70%;
    font-size: 18px;
}
.hero-left>.left-btn{
    display: flex;
    gap: 25px;
}
.left-btn>.secondary-btn{
    border: 1px solid #fff;
}
/* hero right part */
.hero-right{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

}
.hero-right>img{
    width: 80px;
    padding-bottom: 20%;
}
.hero-right-down{
    display: flex;
    gap: 30px;
    align-items: baseline;
}
.hero-right-down>p{
    width: 200px;
    font-size: 24px;
}
.hero-right-down>div>img{
    width: 70px;
    position: relative;
    top: 50px;
}